[user]
    email = aj@ajashton.ca
    name = AJ Ashton

[includeIf "hasconfig:remote.*.url:git@github.com:mapbox/**"]
    # Use Mapbox email address for Mapbox repos
    path = ./config/git/mapbox.conf

[core]
    excludesfile = /home/aj/.gitignore

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow
    frag = magenta bold
    old = red bold
    new = green bold

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[merge]
    tool = meld
	conflictStyle = diff3

[mergetool]
    prompt = false

[mergetool "meld"]
    trustExitCode = true

[push]
    default = simple

[github]
    user = ajashton

[alias]
    pushf = push --force-with-lease
    l = log --stat
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-tree -r --name-only HEAD
    s = status -s
    unpushed = log --branches --not --remotes --no-walk --decorate --oneline
    wdiff = diff --color-words
    whoami = config user.email

[init]
    defaultBranch = main
