[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/tmcw/vim-javascript.git
[submodule "vim/bundle/pydiction"]
	path = vim/bundle/pydiction
	url = https://github.com/vim-scripts/Pydiction.git
