#!/usr/bin/env bash

export QT_AUTO_SCREEN_SCALE_FACTOR=1
export QT_STYLE_OVERRIDE=
export _JAVA_OPTIONS='-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true'

if [[ "$DESKTOP_SESSION" = 'i3' ]]; then

    # Check whether the screen is HiDPI, using the same rules as GNOME: screen
    # is 1200+ pixels tall and least 192 DPI (aka 7488 pixels per meter, which is
    # easier to calculate with the limited data and shell math available).
    #read -r w_px h_px w_mm h_mm < <(xdpyinfo | grep dimensions | sed "s/[^0-9]/ /g")
    #if [[ $h_px -ge 1200 && $((w_px * 1000 / w_mm)) -ge 7488 ]]; then
    export GDK_SCALE=2
    xrandr --dpi 192 &
    xrdb -merge ~/.config/Xresources/hidpi
    export _JAVA_OPTIONS+=' -Dsun.java2d.uiScale=2'
    #fi

    export BROWSER=/usr/bin/firefox

    xbindkeys & # for media keys, etc. configured in ~/.xbindkeysrc

    setxkbmap \
        -option caps:escape \
        -option compose:ralt \
        & # see `man xkeyboard-config` for all options

    compton --config ~/.config/compton.conf &

    nm-applet &

    dunst & # libnotify notifications

    udiskie --quiet --automount --notify --no-tray &  # automount external storage

    xbacklight -set 25 &  # for some reason it's always a 0% by default

    dropbox &

    xss-lock -- i3lock -n -i ~/Pictures/noise.png &

else
    xbindkeys -f "${HOME}/.config/xbindkeys/pantheon.rc";
fi

mpd ~/.config/mpd/mpd.conf &
redshift -l 38:-77 &
