#window {
  font-size: large;
  border: 2px solid #222;
  border-radius: 10px;
  background: rgba(0,0,0,0);
  color: #ddd;
}

#outer-box {
  background: #333;
  margin: 1px; /* to make the #window border visible */
  padding: 20px 20px 0px;
  border; 10px solid #333;
  border-radius: 10px;
}

#input {
  color: #fff;
  font-weight: bold;
  background-color: #222;
  border-radius: 20px;
  border: 1px solid #111;
  margin-bottom: 20px;
}

#entry {
  border-radius: 4px;
  padding: 5px 10px;
}

#selected {
}
